body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: dimgray;
  color: white;
}

p {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(1),
tbody tr:nth-child(2) {
  background-color: gold;
  color: black;
}

tbody tr:nth-child(3),
tbody tr:nth-child(4),
tbody tr:nth-child(5) {
  background-color: gainsboro;
  color: black;
}

tbody tr:nth-child(6) {
  background-color: peru;
  color: black;
}
