/* 全局样式 */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
}

/* 主容器样式 */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
}

/* 列样式 */
.column {
  border-right: 1px solid #e9ecef;
  padding: 15px;
}

.column:last-child {
  border-right: none;
}

/* 文本框样式 */
textarea {
  width: 100%;
  height: 300px;
  resize: none;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

textarea#output-links {
  background-color: #f8f9fa;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* 表格样式 */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #e9ecef;
  font-weight: 600;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e9ecef;
  cursor: pointer;
}

tr:hover {
  background-color: #f8f9fa;
}

/* 按钮样式 */
button {
  margin: 10px;
  padding: 12px 25px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 123, 255, 0.2);
}

/* 按钮容器样式 */
.button-container {
  display: flex;
  justify-content: center;
}

/* 模态框样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 10vh auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

/* 复制图标样式 */
.copy-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.copy-icon:hover {
  color: #0056b3;
}
